<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!-- Bootstrap Navigation Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- The more i change this, the more hideous it becomes -->
    <style>
        .search-container {
            float: right;
        }
        .navbarSupportedContent input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }
        .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        .search-container button:hover {
            background: #ccc;
        }
    </style>
    <a class="navbar-brand" href="http://nighthawkcodingsociety.com/">
        <img src="/static/assets/jobs760_400.jpeg" width="50" height="50" class="d-inline-block align-center" alt="">

        Epic Coders
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mini-labs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{ url_for('binary') }}>Binary</a>
                    <a class="dropdown-item" href={{ url_for('colorcodes') }}>Color Codes</a>
                    <a class="dropdown-item" href={{ url_for('binary_new') }}>Binary Shift</a>
                    <a class="dropdown-item" href={{ url_for('mini_labs') }}>Boostrap Grid</a>
                    <a class="dropdown-item" href={{ url_for('rgb') }}>RGB Values</a>
                    <a class="dropdown-item" href={{ url_for('logicgates') }}>Logic Gates Lab</a>
                    <a class="dropdown-item" href={{ url_for('signed_addition') }}>Signed Addition</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('video') }}>Journal 0<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('summer_programs') }}>Summer Programs<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('jobs') }}>Jobs<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('questionnaires') }}>Questionnaires<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('internships') }}>Internships<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('practice_interview') }}>Practice for an Interview<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('sign_up') }}>Sign Up<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('contact_us') }}>Contact Us<span class="sr-only">(current)</span></a>
            </li>
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </ul>
    </div>
    </li>
    </ul>
    <!-- Clock display -->
    <div class="px-3">
        <span id="clock"></span>
    </div>
    <!-- Dark mode action -->
    <div class="custom-control custom-switch">
        <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
        <label class="custom-control-label" for="darkSwitch"></label>
    </div>
    <!-- Navigation bar JavaScript support -->
    <script>
        // Dark Mode Toggle
        function darkFunction() {
            let element = document.body;
            element.classList.toggle("dark-mode");
        }
        // Clock controller
        let clockElement = document.getElementById('clock');
        function clock() {
            let date = new Date();
            clockElement.textContent = date.toLocaleString();
        }
        // Clock refresh frequency
        setInterval(clock, 1000);
    </script>
    </div>
</nav>