{% include "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {text-align: center;}
    </style>
</head>

<body>




    <h1>This is our About Us Page!</h1>

<p>Click the button to change the picture.</p>


<img src="/static/assets/images/kaavyabio.png" id="myImg" width="500" height="500">
<input type="button" onclick="changeImg()" value="Click Here" />
<script type="text/javascript">
    function changeImg() {
        var image = document.getElementById('myImg');
        if (image.src.match("/static/assets/images/kaavyabio.png")) {
            image.src = "/static/assets/images/vidhibio.png";
        }
        else {
            image.src = "/static/assets/images/kaavyabio.png";
        }
    }

</script>


    <img src="/static/assets/images/kamyabio.png" id="myImg2" width="500" height="500">
    <input type="button" onclick="changeImg2()" value="Click Here" />
    <script type="text/javascript">
        function changeImg2() {
            var image = document.getElementById('myImg2');
            if (image.src.match("/static/assets/images/kamyabio.png")) {
                image.src = "/static/assets/images/isabellebio.png";
            }
            else {
                image.src = "/static/assets/images/kamyabio.png";
            }
        }

    </script>



</body>
</html>