{% include "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {text-align: center;}
    </style>
</head>

<body>
<h1> 3x3</h1>

<!--
<div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a style="font-family: 'Trebuchet MS'" href="{{ internships }}" class="btn">Internships</a>
                    </div>
                    <div class="col-sm">
                        <a href="{{ jobs }}" class="btn">Jobs</a>
                    </div>
                    <div class="col-sm">
                        <a href="{{ summer_programs }}" class="btn">Summer Programs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class='container-fluid'>
    <div class="row flex">
        <div class="col-md-6">
            <div class="row" id="grid">
                <div class="col-md-4">
                    <button onclick="window.location.href='https://www.canva.com/design/DAEomzY4HxE/cmAvGTtzra4ZWqweLoajSA/watch?utm_content=DAEomzY4HxE&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton';">Wireframe
                    </button>
                </div>
                <div class="col-md-4">
                    <button onclick="window.location.href='https://drive.google.com/drive/u/1/folders/11N_mI3c3KzChG-rejghC2GHgIwK8AmXM';">TPT3 Notes
                    </button>
                </div>
                <div class="col-md-4">
                    <button onclick="window.location.href='https://docs.google.com/document/d/1qDtUjnifNS_yKd3O9zcsb_-oj8veX4eYxAl6DnS-_Fo/edit';">Brain Write Ideation
                    </button>
                </div>
                <div class="col-md-4">
                    <a href={{ url_for('kamya') }}>Kamya Greet Page</a>
                </div>
                <div class="col-md-4">
                    <a href={{ url_for('kaavya') }}>Kaavya Greet Page</a>
                </div>
                <div class="col-md-4">
                    <a href={{ url_for('vidhi') }}>Vidhi Greet Page</a>
                </div>
                <div class="col-md-4">
                    <a href={{ url_for('isabelle') }}>Isabelle Greet Page</a>
                </div>
                <div class="col-md-4">
                    <button onclick="window.location.href='https://github.com/isabelle926/flask_portfolio';"> Github
                    </button>
                </div>
                <div class="col-md-4">
                    <button onclick="window.location.href='https://www.youtube.com/watch?v=HYMPw36l3YM';"> Github
                    </button>
                </div>
            </div>
        </div>
</div>

</body>


</html>