<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "layouts/navbar.html" %}
<div class='container-fluid'>
    <div class="row flex">
        <div class="col-md-6">
            <div class="row" id="grid">
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                <div <a class="nav-link" href={{ url_for('isabelle') }}>Greet</a></div>
            </div>
        </div>
</div>

</body>
</html>