<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}

{% block content %}

{% for j in range(3) %}

{% if j == 0 %}
<div class="row container-fluid">
    {% else %}
    <div class="row container-fluid mt-5">
        {% endif %}

        {% if j == 2 %}

        <div class="col-sm-1"></div>
        {% for i in range(1, 10) %}
        <p class="col-sm-1 sumBit" id="sumBit{{i}}">0</p>
        {% endfor %}
        <div class="col-sm"></div>

        {% else %}

        <button class="col-sm-1 operatorButton" onclick="signedCalculate('{{j}}', 'add')">+1</button>
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
        <button class="col-sm-1" id="bit{{j}}{{i}}" onclick="toggleSwitch('bit{{j}}{{i}}')">0</button>
        {% endfor %}
        <button class="col-sm-1 offset-sm-1 operatorButton" onclick="signedCalculate('{{j}}', 'subtract')">-1</button>

        {% endif %}
    </div>

    {% endfor %}

    <div class="center">
        <table width="25%">
            <tr>
                <th>Row 1</th>
                <th>Row 2</th>
                <th>Result</th>
            </tr>
            <tr>
                <td id="row1">0</td>
                <td id="row2">0</td>
                <td id="result">0</td>
            </tr>
        </table>
    </div>


    <script>

        function toggleSwitch (id) {
            const element = document.getElementById(id);
            if (element.innerHTML == "1") {
                setBit(id, 0);
            } else {
                setBit(id, 1);
            }

            addRows();

        }

        function setBit(id, number) {
            const element = document.getElementById(id);
            if (number == 1) {
                element.classList.add("buttonOn");
                element.classList.remove("buttonOff");
                element.innerHTML = "1";
            } else {
                element.classList.add("buttonOff");
                element.classList.remove("buttonOn");
                element.innerHTML = "0";
            }
        }

        function signedCalculate (row, operator) {
            let bitArr = returnRow(row);
            if (operator == "add") {
                if (bitArr[0] == 1)
                    return;
                for (var i = 0; i >= 0; i--) {
                    if (i == 0) {
                        bitArr[0] = 0;
                    } else {
                        bitArr[i] = bitArr[i-1];
                    }
                }
            }
        }

        function returnRow (row) { // get all bits and put them into an array
            const prefix = "bit" + row;
            let bitArr = [];
            for (var i = 1; i <= 8; i++) {
                const element = document.getElementById(prefix + i);
                bitArr.push(parseInt(element.innerHTML));
            }
            return bitArr;
        }

        function addRows () { // add the rows together (signed)
            let bitArr1 = returnRow(0);
            let bitArr2 = returnRow(1);
            let result = [0, 0, 0, 0, 0, 0, 0, 0, 0]; // arrays for the resulting 9 bits and the carryover (1 + 1 == 11; have to carry over the first 1)
            let carry = [0, 0, 0, 0, 0, 0, 0, 0, 0];

            for (var i = 7; i >= 0; i--) {
                let sum = bitArr1[i] + bitArr2[i] + carry[i+1];
                switch (sum) {
                    case 0:  // sum gives 00
                        result[i+1] = 0;
                        break;
                    case 1:  // sum gives 01
                        result[i+1] = 1;
                        break;
                    case 2:  // sum gives 10
                        result[i+1] = 0;
                        carry[i] = 1;
                        break;
                    case 3:  // sum gives 11
                        result[i+1] = 1;
                        carry[i] = 1;
                        break;
                }
            }

            result[0] = carry[0];

            for (var i = 1; i < 10; i++) {  // set sum bits
                if (result[i-1] == 1) {
                    setBit("sumBit" + i, 1);
                } else {
                    setBit("sumBit" + i, 0);
                }
            }

            calculateAllRows();
        }

        function calculateRow (prefix, number) { // converts binary to decimal given a certain row
            let sum = 0;
            for (var i = 1; i <= number; i++) {
                let element = document.getElementById(prefix + i);  // could probably make this more efficient/nicer looking with the returnRow function....
                sum += Math.pow(2, number - i) * parseInt(element.innerHTML);
            }
            return sum;
        }

        function calculateAllRows () {  // calculates the decimal values of all rows using the calculateRow() function
            let row1Sum = calculateRow("bit0", 8);
            let row2Sum = calculateRow("bit1", 8);
            let result = calculateRow("sumBit", 9);

            const firstSum = document.getElementById("row1");
            firstSum.innerHTML = row1Sum;

            const secondSum = document.getElementById("row2");
            secondSum.innerHTML = row2Sum;

            const resultSum = document.getElementById("result");
            resultSum.innerHTML = result;
        }


    </script>

    {% endblock %}